@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #191414;
    margin: 0px;
    text-align: center;
}

#container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 238px;
}

#container button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

#container p {
    color: #ccc;
    font-size: 13px;
    font-family: Roboto;
    
}

#container img {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    height: 20px;
    position: absolute;
    bottom: 20px;
    width: 100vw;
    text-align: center;
}

footer p {
    color: #ccc;
    font-size: 13px;
    font-family: Roboto;
}

#github-link {
    margin-right: 50px;
}

footer a {
    margin-bottom: 20px;
    float: right;
}




/*
#login-container {
    background-color: #1DB954;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;

    margin: 45vh 0 0 -9vw;
}
*/
