canvas {
    z-index: -1;
    position: absolute;
}

#visList {
    position: absolute;
    width: 150px;
    height: 25px;
    
    background-color: #333; /* Green */
    border: 1px solid #777;
    color: white;
}

button {
    position: absolute;
    background-color: #333; /* Green */
    border: 1px solid #777;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
}

button:hover {
    background-color: #555;
    border-color: #bbb;
}

/*
#controls {
    width: 0px;
}

#controls * {
    position: absolute;
    bottom: 0;
    padding: 0 0 20px 0;
}

#controls #play {
    width: 100vw;
    margin-left: 50vw;
}

#controls #play * {
    margin-left: -22.5px;
}

#controls #play i {
    font-size: 50px;
    
}

#controls #play button{
    position: relative;
    
    width: 50px;
    height: 50px;
}
*/
